<div class="menu-group">
    <div class="menu-title">General</div>
    <ul class="menu-list">
        <li><a href="resources-overview.html" data-page="resources-overview.html">Overview</a></li>
    </ul>
</div>
<div class="menu-group">
    <div class="menu-title">Assets</div>
    <ul class="menu-list">
        <li><a href="resources-ui-kits.html" data-page="resources-ui-kits.html">UI Kits</a></li>
        <li><a href="resources-icons.html" data-page="resources-icons.html">Icons</a></li>
        <li><a href="resources-fonts.html" data-page="resources-fonts.html">Fonts</a></li>
    </ul>
</div>
<div class="menu-group">
    <div class="menu-title">Utilities</div>
    <ul class="menu-list">
        <li><a href="resources-tools.html" data-page="resources-tools.html">Tools & Plugins</a></li>
    </ul>
</div>
