<div class="menu-group">
    <div class="menu-title">General</div>
    <ul class="menu-list">
        <li><a href="components-overview.html" data-page="components-overview.html">Overview</a></li>
    </ul>
</div>
<div class="menu-group">
    <div class="menu-title">Actions & Inputs</div>
    <ul class="menu-list">
        <li><a href="#">Button</a></li>
        <li><a href="#">Input / Form</a></li>
        <li><a href="#">Checkbox & Radio</a></li>
        <li><a href="#">Switch</a></li>
        <li><a href="#">FAB</a></li>
    </ul>
</div>
<div class="menu-group">
    <div class="menu-title">Navigation</div>
    <ul class="menu-list">
        <li><a href="#">GNB</a></li>
        <li><a href="#">Tabs</a></li>
        <li><a href="#">Breadcrumb</a></li>
    </ul>
</div>
<div class="menu-group">
    <div class="menu-title">Feedback</div>
    <ul class="menu-list">
        <li><a href="#">Modal</a></li>
        <li><a href="#">Toast</a></li>
        <li><a href="#">Spinner</a></li>
    </ul>
</div>
