<div class="menu-group">
    <div class="menu-title">General</div>
    <ul class="menu-list">
        <li><a href="patterns-overview.html" data-page="patterns-overview.html">Overview</a></li>
    </ul>
</div>
<div class="menu-group">
    <div class="menu-title">User Input</div>
    <ul class="menu-list">
        <li><a href="patterns-login.html" data-page="patterns-login.html">Login Form</a></li>
        <li><a href="patterns-search.html" data-page="patterns-search.html">Search</a></li>
        <li><a href="patterns-settings.html" data-page="patterns-settings.html">Settings</a></li>
    </ul>
</div>
<div class="menu-group">
    <div class="menu-title">Feedback</div>
    <ul class="menu-list">
        <li><a href="patterns-empty-states.html" data-page="patterns-empty-states.html">Empty States</a></li>
        <li><a href="patterns-errors.html" data-page="patterns-errors.html">Errors</a></li>
        <li><a href="patterns-onboarding.html" data-page="patterns-onboarding.html">Onboarding</a></li>
    </ul>
</div>
