<div class="menu-group">
    <div class="menu-title">General</div>
    <ul class="menu-list">
        <li><a href="patterns-overview.html" data-page="patterns-overview.html">Overview</a></li>
    </ul>
</div>
<div class="menu-group">
    <div class="menu-title">User Input</div>
    <ul class="menu-list">
        <li><a href="#">Login Form</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
</div>
<div class="menu-group">
    <div class="menu-title">Feedback</div>
    <ul class="menu-list">
        <li><a href="#">Empty States</a></li>
        <li><a href="#">Errors</a></li>
        <li><a href="#">Onboarding</a></li>
    </ul>
</div>