<div class="menu-group">
    <div class="menu-title">General</div>
    <ul class="menu-list">
        <li><a href="resources-overview.html" data-page="resources-overview.html">Overview</a></li>
    </ul>
</div>
<div class="menu-group">
    <div class="menu-title">Downloads</div>
    <ul class="menu-list">
        <li><a href="#">UI Kits</a></li>
        <li><a href="#">Icon Library</a></li>
        <li><a href="#">Fonts</a></li>
    </ul>
</div>
<div class="menu-group">
    <div class="menu-title">Tools</div>
    <ul class="menu-list">
        <li><a href="#">Plugins</a></li>
        <li><a href="#">Accessibility Checker</a></li>
    </ul>
</div>